<footer class="page-footer blue">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright ParityCube Private Limited.
    </div>
  </div>
</footer>
<script type="text/javascript">
$(document).on('turbolinks:load', function() {
// $(document).ready(function () {
  $(".dropdown-button").dropdown();
   // var flash = <%#=raw @flash.to_json %>;
   // alert(flash);
   // alert(flash["notice"]);
   // Materialize.toast(flash["notice"], 4000)
});
</script>