<footer class="page-footer blue">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright ParityCube Private Limited.
    <%if !user_signed_in? %>
    <ul  class="right hide-on-med-and-down">
      <li>
        <%= link_to '<i class="" style="font-size: 1rem"></i> Login'.html_safe, new_user_session_path%>
      </li>
    </ul>
    <%end%>
  </div>
</footer>
<script type="text/javascript">
$(document).on('turbolinks:load', function() {
// $(document).ready(function () {
  $(".dropdown-button").dropdown();
   // var flash = <%#=raw @flash.to_json %>;
   // alert(flash);
   // alert(flash["notice"]);
   // Materialize.toast(flash["notice"], 4000)
});
</script>