<nav class="blue">
  <div class="nav-wrapper">
    <%= link_to root_path, class: 'brand-logo' do %>
      <%= image_tag('logo.png', width: 136, height: 64, alt: 'ParityCube') %>
    <%end%>
    <%if user_signed_in? %>
    <ul  class="right hide-on-med-and-down">
      <a class="dropdown-button" href="#" data-beloworigin="true" data-activates="dropdown1">Profile<i class="material-icons right">settings</i></a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#">Settings</a></li>
          <li class="divider"></li>
          <li>      
              <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
          </li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
    <ul  class="right hide-on-med-and-down">
      <li>
        <%=link_to "Upload Photos", new_image_path%>
      </li>  
    </ul>
    <%else%>
    <ul  class="right hide-on-med-and-down">
    
    </ul>
    <%end%>
  </div>
</nav>